p{
    color:rgb(78, 115, 208);

}
#one{
    color:red;
}
.two{
    color:green;
    text-decoration: overline;
}
.nav1{
    color:rgb(108, 244, 149);
    background-color: rgb(104, 104, 201);
    text-align:center;
    text-decoration:underline;
}
#font-weight-demo{
    color:rgb(108, 244, 149);
    background-color: rgb(104, 104, 201);
    text-align:center;
    text-decoration:overline;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:10px;
    line-height: 120px;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;

}
#main1{
    height:100px;
    width:100px;
    /* border-width: 20px;
    border-color: aqua;
    border-style: solid; */
    border:2px solid red;
    border-radius:10%;
    padding-left:25px ;
    padding-right: 25px ;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#jk{
    height:100px;
    width:100px;
    background-color: chartreuse;
    border-width: 2px;
    border-style:solid;
}
#jk1{
    background-color: black;
    height:60px;
    border-style:solid;
    border-color: rgb(150, 195, 234);
    border-width:5px;

}
#l1{
    color:orange;
    font-size:25px;
    margin-right:250px;
}
#l2{
    color:rgb(235, 233, 231);
    font-size:25px;
    margin-right:250px;

}
#l3{
     color:rgb(235, 233, 231);
    font-size:25px;
    margin-right:250px;
}
#l4{
     color:rgb(235, 233, 231);
    font-size:25px;
    
}
#l5{
     color:rgb(238, 229, 221);
     background-color: orange;
    font-size:25px;
}

#k2{
    font-size:96px;


}

#k1{
    position:absolute;
    font-size:75%;
    top:1000px;
}

#k3{
    font-size:96px;
    


}

#k4{
    font-size:1em;
    position:relative;
    top:20px;
    left:1000px;
    bottom:50px;
    right:100px;
}